<!-- Computer screen / Tablet -->
<div class="relative pt-6 px-4 sm:px-6 lg:px-8">
    <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
        <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
            <div class="flex items-center justify-between w-full md:w-auto">
                <a href="/" aria-label="Home">
                    <img class="hidden md:block h-16 w-auto sm:h-15" src="images/Mon-goBook_logo.png" alt="Logo">
                </a>
            </div>
        </div>
        <div class="hidden md:block md:ml-10 md:pr-4">
            <a href="/all-books" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">All books</a>
            <a href="/my-books" class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">My books</a>
            <a href="/discover" class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Discover</a>
            <a href="../#project-info" class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Project info</a>
            <a href="/login" class="ml-8 font-medium text-indigo-600 hover:text-indigo-900 transition duration-150 ease-in-out">Log in</a>
        </div>
    </nav>
</div>

<!-- Mobile screen -->
<div class="static top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-md">
        <div class="rounded-lg bg-white overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
            <div class="px-5 pt-4 flex items-center justify-between">
                <div style=" display: block; margin: auto;">
                    <a href="/" aria-label="Home">
                        <img class="h-20 w-auto" src="images/Mon-goBook_logo.png" alt="">
                    </a>
                </div>
            </div>
            <br>
            <hr>
            <div class="px-2 pt-2 pb-3">
                <a href="/all-books" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">All books</a>
                <a href="/my-books" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">My books</a>
                <a href="/discover" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Discover</a>
                <a href="../#project-info" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Project info</a>
            </div>
            <div>
                <a href="/login" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out" role="menuitem">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>