<head>
    <meta charset="utf-8">
    <meta name="description" content="A book recommender system.">
    <meta name="keywords" content="MongoDB, book, recommend">
    <meta name="author" content="Luka Čosić">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
</head>