<%
var bookResults = dataArray.results;
%>

<!DOCTYPE html>
<html>
    <% include partials/head.ejs %>
    <body>
    <div id="my-page-container">
      <div id="my-content-wrap">
        <div>
          <% include partials/header.ejs %>
        </div>

        <!-- page navigation -->
        <div>
          <% include partials/page-navigation.ejs %>
          <% include partials/search-form.ejs %>
        </div>

        <!-- Table -->
        <div>
          <% include partials/book-table.ejs %>
        </div>

        <!-- page navigation -->
        <div>
          <% include partials/page-navigation.ejs %>
        </div>
      </div>

      <% include partials/footer.ejs%>
    </div>
    </body>
</html>